<a href="https://colab.research.google.com/github/Harshitha1588/Python_2303A51588_B10/blob/main/Lab4_1588.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Load dataset
df = pd.read_csv("/content/sales_data (1).csv")

# 1. Remove rows with missing Product or Quantity
df = df.dropna(subset=["Product", "Quantity"])

# 2. Fill missing Price with mean
mean_price = df["Price"].mean()
df["Price"] = df["Price"].fillna(mean_price)

# 3. Calculate missing Total = Quantity Ã— Price
df["Total"] = df.apply(
    lambda row: row["Quantity"] * row["Price"] if pd.isna(row["Total"]) else row["Total"],
    axis=1
)

# 4. Display all records with Total > 1000
large_transactions = df[df["Total"] > 1000]

print("Cleaned Data:\n", df)
print("\nRecords with Total > 1000:\n", large_transactions)

# Optional: Save cleaned data
df.to_csv("/content/sales_data_cleaned.csv", index=False)
large_transactions.to_csv("/content/large_transactions.csv", index=False)

Cleaned Data:
    Invoice_No Customer_Name     Product  Quantity    Price     Total
0         101         Alice      Laptop       2.0  50000.0  100000.0
3         104         David      Tablet       3.0  26375.0   60000.0
4         105           Eva  Headphones       2.0   3000.0    6000.0
5         106         Frank      Laptop       1.0  52000.0   52000.0
6         107         Grace       Phone       5.0  26375.0  131875.0
7         108         Helen       Mouse      10.0    500.0    5000.0

Records with Total > 1000:
    Invoice_No Customer_Name     Product  Quantity    Price     Total
0         101         Alice      Laptop       2.0  50000.0  100000.0
3         104         David      Tablet       3.0  26375.0   60000.0
4         105           Eva  Headphones       2.0   3000.0    6000.0
5         106         Frank      Laptop       1.0  52000.0   52000.0
6         107         Grace       Phone       5.0  26375.0  131875.0
7         108         Helen       Mouse      10.0    500.0    5000.0

In [6]:
import pandas as pd

# Load dataset
df = pd.read_csv("/content/applicants.csv")

# Ensure numeric types
df["Experience_Years"] = pd.to_numeric(df["Experience_Years"], errors="coerce")
df["Python_Score"] = pd.to_numeric(df["Python_Score"], errors="coerce")

# 1) Drop rows missing Python_Score
df = df.dropna(subset=["Python_Score"]).copy()

# 2) Replace missing Experience_Years with 0
df.loc[:, "Experience_Years"] = df["Experience_Years"].fillna(0)

# 3) Filter applicants with Python_Score > 80 and Experience_Years > 2
filtered = df[(df["Python_Score"] > 80) & (df["Experience_Years"] > 2)].copy()

print("Cleaned Applicants:\n", df.to_string(index=False))
print("\nExperienced Python Applicants (Score>80 & Exp>2):\n", filtered.to_string(index=False))

# Save outputs
df.to_csv("/content/applicants_cleaned.csv", index=False)
filtered.to_csv("/content/applicants_filtering.py", index=False)

Cleaned Applicants:
  Applicant_ID    Name Degree  Experience_Years  Python_Score  Status
            1 madhuri B.Tech               3.0          85.0 Applied
            2  varsha    MCA               0.0          90.0 Applied
            4     sai B.Tech               5.0          70.0 Applied
            5 nirnaya M.Tech               2.0          95.0 Applied
            6   hindu    MBA               0.0          82.0 Applied
            7  karuna    BCA               4.0          60.0 Applied

Experienced Python Applicants (Score>80 & Exp>2):
  Applicant_ID    Name Degree  Experience_Years  Python_Score  Status
            1 madhuri B.Tech               3.0          85.0 Applied