<a href="https://colab.research.google.com/github/Harshitha1588/Python_2303A51588_B10/blob/main/Lab5_1588.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
Products=pd.DataFrame({
    'product_id': [101, 102, 103, 104],
    'product_name': ['Laptop', 'Smartphone', 'Tablet', 'Headphones'],
    'category': ['Electronics', 'Electronics', 'Electronics', 'Accessories'],
    'price': [800, 500, 300, 100]
})
print(Products)

   product_id product_name     category  price
0         101       Laptop  Electronics    800
1         102   Smartphone  Electronics    500
2         103       Tablet  Electronics    300
3         104   Headphones  Accessories    100

In [7]:
Sales=pd.DataFrame({'sale_id': [1, 2, 3, 4, 5, 6],
    'product_id': [101, 102, 101, 103, 104, 102],
    'quantity': [1, 2, 1, 3, 2, 1]
})
print(Sales)

   sale_id  product_id  quantity
0        1         101         1
1        2         102         2
2        3         101         1
3        4         103         3
4        5         104         2
5        6         102         1

In [8]:
Merged_df=pd.merge(Products,Sales,on='product_id')
print(Merged_df)

   product_id product_name     category  price  sale_id  quantity
0         101       Laptop  Electronics    800        1         1
1         101       Laptop  Electronics    800        3         1
2         102   Smartphone  Electronics    500        2         2
3         102   Smartphone  Electronics    500        6         1
4         103       Tablet  Electronics    300        4         3
5         104   Headphones  Accessories    100        5         2

In [9]:
inner=pd.merge(Products,Sales,on='product_id',how='inner')
print(inner)

   product_id product_name     category  price  sale_id  quantity
0         101       Laptop  Electronics    800        1         1
1         101       Laptop  Electronics    800        3         1
2         102   Smartphone  Electronics    500        2         2
3         102   Smartphone  Electronics    500        6         1
4         103       Tablet  Electronics    300        4         3
5         104   Headphones  Accessories    100        5         2

In [10]:
outer=pd.merge(Products,Sales,on='product_id',how='outer')
print(outer)

   product_id product_name     category  price  sale_id  quantity
0         101       Laptop  Electronics    800        1         1
1         101       Laptop  Electronics    800        3         1
2         102   Smartphone  Electronics    500        2         2
3         102   Smartphone  Electronics    500        6         1
4         103       Tablet  Electronics    300        4         3
5         104   Headphones  Accessories    100        5         2

In [21]:
total_revenue=Merged_df['price']*Merged_df['quantity']
print(total_revenue)
print("Total Revenue:",total_revenue.sum())

0     800
1     800
2    1000
3     500
4     900
5     200
dtype: int64
Total Revenue: 4200

In [12]:
avg_price=Merged_df['price'].mean()
print(avg_price)

500.0

In [13]:
product_wise_sales=Merged_df.groupby('product_name')['quantity'].sum()
print(product_wise_sales)

product_name
Headphones    2
Laptop        2
Smartphone    3
Tablet        3
Name: quantity, dtype: int64

In [26]:
Product_category=Merged_df.groupby('category')['quantity'].sum()
print(Product_category)
best_selling_category=Product_category.idxmax()
print("Best Selling Category:",best_selling_category)

category
Accessories    2
Electronics    8
Name: quantity, dtype: int64
Best Selling Category: Electronics

2.Merge Teachers and Courses Datasets and Compute
Aggregate Statistics

In [27]:
import pandas as pd

In [35]:
Teacher=pd.DataFrame({
    'Teacher_id': [101, 102, 103, 104,105],
    'Teacher_name': ['Dr. Rao', 'shreyas Iyer', 'Abdul', 'Varshitha','Sunil'],
    'department': ['CSE', 'ECE', 'EEE', 'CSE','Civil']
})
print(Teacher)

   Teacher_id  Teacher_name department
0         101       Dr. Rao        CSE
1         102  shreyas Iyer        ECE
2         103         Abdul        EEE
3         104     Varshitha        CSE
4         105         Sunil      Civil

In [47]:
courses = pd.DataFrame({
'course_id': [101, 102, 103, 104, 105],
'course_name': ['Python','SESD','FAM','History','Math'],
'Teacher_id': [101, 102, 103, 104, 105],
'workload_hours': [40, 30, 35, 45, 25]
})
print(courses)

   course_id course_name  Teacher_id  workload_hours
0        101      Python         101              40
1        102        SESD         102              30
2        103         FAM         103              35
3        104     History         104              45
4        105        Math         105              25

In [52]:
Merged_df=pd.merge(Teacher,courses,on='Teacher_id')
print(Merged_df)

   Teacher_id  Teacher_name department  course_id course_name  workload_hours
0         101       Dr. Rao        CSE        101      Python              40
1         102  shreyas Iyer        ECE        102        SESD              30
2         103         Abdul        EEE        103         FAM              35
3         104     Varshitha        CSE        104     History              45
4         105         Sunil      Civil        105        Math              25

In [56]:
inner=pd.merge(Teacher,courses,on='Teacher_id',how='inner')
print(inner)

   Teacher_id  Teacher_name department  course_id course_name  workload_hours
0         101       Dr. Rao        CSE        101      Python              40
1         102  shreyas Iyer        ECE        102        SESD              30
2         103         Abdul        EEE        103         FAM              35
3         104     Varshitha        CSE        104     History              45
4         105         Sunil      Civil        105        Math              25

In [57]:
left=pd.merge(Teacher,courses,on='Teacher_id',how='left')
print(left)

   Teacher_id  Teacher_name department  course_id course_name  workload_hours
0         101       Dr. Rao        CSE        101      Python              40
1         102  shreyas Iyer        ECE        102        SESD              30
2         103         Abdul        EEE        103         FAM              35
3         104     Varshitha        CSE        104     History              45
4         105         Sunil      Civil        105        Math              25

In [59]:
avg_courses_per_teacher=Merged_df.groupby('Teacher_name')['course_id'].count().mean()
print("Average courses per teacher:",avg_courses_per_teacher)

Average courses per teacher: 1.0

In [60]:
department=Merged_df.groupby('department')['course_id'].count()
print(department)

department
CSE      2
Civil    1
ECE      1
EEE      1
Name: course_id, dtype: int64

In [61]:
total_workload=Merged_df['workload_hours'].sum()
print("Total workload hours:",total_workload)

Total workload hours: 175